.header {
  display: flex;
  height: 400px;
  width: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e5dc;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.name {
  align-self: center;
}