.nav-bar {
  display: flex;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.page-title {
  font-family: 'Bungee', cursive;
  font-weight: 300;
  font-size: 35px;
  margin: 1.5em;
}

.write-tweet {
  display: flex;
  flex-direction: column;

}
.write-tweet-title {
  /* display: flex; */
  font-family: 'Source Sans Pro', sans-serif;
  margin: 1.5em;
}

.pencil-button {
  color: white;
  background-color: transparent;
  border: 0;
  outline: none;
  animation: blinker 1s linear infinite;
  padding: 0;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}